%site-button {
	display: inline-block;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	background-color: $color-pumpkin;
	color: $color-white;
	font-family: $font-druk-wide;
	font-size: rem-calc(9);
	letter-spacing: 0.85px;
	padding: rem-calc(16) rem-calc(60) rem-calc(16) rem-calc(25);
	transition: 0.35s ease background-color;

	@include media('>desktop-medium') {
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		top: 0;
		right: 0;
		z-index: 1;
		width: rem-calc(35);
		height: 100%;
		background-color: $color-orange;
		transition: 0.35s ease background-color;
	}

	&::after {
		top: calc(50% - 4px);
		right: rem-calc(16);
		z-index: 2;
		width: 5px;
		height: 5px;
		border-right: 1px solid $color-white;
		border-bottom: 1px solid $color-white;
		transform: rotate(-45deg);

		@include media('>desktop-small') {
			top: calc(50% - 3px);
			right: rem-calc(15);
		}
	}

	&--hollow {
		@extend %site-button;

		background-color: transparent;
		border: 1px solid $color-pumpkin;

		@include media('>desktop-small') {
			border-width: 2px;
		}


		&::before {
			background-color: transparent;
			border-left: 1px solid $color-pumpkin;

			@include media('>desktop-small') {
				border-width: 2px;
			}
		}

		&:hover {
			background-color: $color-pumpkin;

			&::before {
				background-color: $color-orange;
			}
		}
	}

	&--underscored {
		@extend %site-button;

		background-color: transparent;
		border-bottom: 1px solid $color-pumpkin;
		padding-left: 0;
		padding-right: rem-calc(35);
		padding-bottom: rem-calc(18);

		&::before {
			opacity: 0;
		}

		&::after {
			border-color: $color-orange;
			right: 5px;
		}
	}
}

%arrow-block-button {
	position: relative;
	background-color: $color-slate;
	color: $color-lightgray;

	@include media('>phone-small') {
		transition: background-color 0.35s ease;
	}

	&:hover {
		@include media('>phone-small') {
			color: $color-white;
			background-color: $color-gray-tertiary;
		}
	}
}

%arrow-block-button__link {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	padding: rem-calc(11) rem-calc(50) rem-calc(11) rem-calc(20);

	@include media('>phone-small') {
		padding-left: rem-calc(15);
	}

	@include media('>tablet') {
		padding: rem-calc(14) rem-calc(55) rem-calc(14) rem-calc(22);
	}

	@include media('>desktop-small') {
		padding-top: rem-calc(18);
		padding-bottom: rem-calc(18);
		padding-right: rem-calc(60);
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		display: block;
		border: 1px solid $color-orange;

		@include media('>phone-small') {
			border-color: $color-white;
			opacity: 0;
			transition: opacity 0.35s ease;
		}
	}

	&::before {
		right: rem-calc(26);
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
		width: 5px;
		height: 5px;
		border-left: none;
		border-top: none;

		@include media('>desktop-small') {
			right: rem-calc(34);
			width: 6px;
			height: 6px;
		}
	}

	&::after {
		top: rem-calc(10);
		right: rem-calc(10);
		width: rem-calc(34);
		height: calc(100% - 20px);

		@include media('>desktop-small') {
			top: rem-calc(12);
			right: rem-calc(15);
			width: rem-calc(44);
			height: calc(100% - 24px);
		}
	}

	&:hover {
		&::before,
		&::after {
			@include media('>phone-small') {
				opacity: 0.85;
			}
		}
	}
}

%arrow-block-button__icon {
	width: rem-calc(38);
	height: rem-calc(38);
	margin-right: rem-calc(20);

	@include media('>phone-small') {
		width: rem-calc(35);
		height: rem-calc(35);
	}

	@include media('>desktop-small') {
		width: rem-calc(38);
		height: rem-calc(38);
	}
}

%arrow-block-button__label {
	text-transform: uppercase;
	font-family: $font-forza;
	font-weight: bold;
	font-size: rem-calc(14);
	letter-spacing: 0.17px;

	@include media('>phone-small') {
		font-size: rem-calc(12);
		transition: 0.35s ease color;
	}

	@include media('>desktop-small') {
		font-size: rem-calc(14);
	}
}

%carousel-nav-button {
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: $font-druk-wide;
	color: $color-orange;
	font-size: rem-calc(9);
	letter-spacing: 0.85px;
	line-height: 1;
	transition: 0.35s ease opacity;
	padding: 0;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		display: block;
	}

	&::before {
		width: rem-calc(34);
		height: rem-calc(40);
		border: 1px solid $color-orange;
		transition: 0.35s ease background-color;

		@include media('>desktop-large') {
			width: rem-calc(44);
			height: rem-calc(50);
		}
	}

	&::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 5px;
		height: 5px;
		border-right: 1px solid $color-orange;
		border-bottom: 1px solid $color-orange;
		transition: 0.35s ease border-color;

		@include media('>desktop-large') {
			width: 6px;
			height: 6px;
		}
	}

	&:hover {
		&::before {
			background-color: $color-orange;
		}

		&::after {
			border-color: $color-white;
		}
	}

	&.disabled {
		opacity: 0.25;
		pointer-events: none;
	}
}

%carousel-nav-button--prev {
	@extend %carousel-nav-button;

	&::before {
		margin-right: rem-calc(12);
	}

	&::after {
		left: rem-calc(16);
		transform: translateY(-50%) rotate(135deg);

		@include media('>desktop-large') {
			left: rem-calc(20);
		}
	}
}

%carousel-nav-button--next {
	@extend %carousel-nav-button;

	flex-direction: row-reverse;

	&::before {
		margin-left: rem-calc(12);
	}

	&::after {
		right: rem-calc(16);
		transform: translateY(-50%) rotate(-45deg);

		@include media('>desktop-large') {
			right: rem-calc(20);
		}
	}
}
