// Colors
$color-black: #000;
$color-lightestgray: #eee;
$color-lightgray: #999;
$color-mediumgray: #666;
$color-licorice: #252525;
$color-slate: #333;
$color-gray: #ccc;
$color-red: #ed145b;
$color-error: #e55039;
$color-white: #fff;
$color-off-white: #f8f8f8;
$color-mine_shaft:#353535;
$color-pumpkin: #b45913;
$color-orange: #e7751d;
$color-dark-orange: #e85222;
$color-yellow: #e8a622;
$color-gray-tertiary: #555;

// Font Family Declarations
$font-forza:'Forza', sans-serif;
$font-druk-wide:'Druk Wide', sans-serif;
$font-open-sans:'Open Sans', sans-serif;
