.openings {
	overflow: hidden;
	position: relative;
	padding-bottom: rem-calc(74);

	@include media('>phone') {
		padding-bottom: 0;
	}

	&__wrapper {
		@extend %site-wrapper;

		max-width: rem-calc(575);
		padding: rem-calc(55) rem-calc(14) rem-calc(68);

		@include media('>phone') {
			position: relative;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
			max-width: rem-calc(1920);
			padding: rem-calc(60) rem-calc(30) rem-calc(60) rem-calc(120);
		}

		@include media('>tablet') {
			padding: rem-calc(80) rem-calc(60) rem-calc(85) rem-calc(160);
		}

		@include media('>desktop-small') {
			padding: rem-calc(100) rem-calc(80) rem-calc(105) rem-calc(220);
		}

		@include media('>desktop-medium') {
			padding: rem-calc(110) rem-calc(120) rem-calc(115) rem-calc(260);
		}

		@include media('>desktop-large') {
			padding: rem-calc(115) rem-calc(160) rem-calc(125) rem-calc(300);
		}

		@include media('>desktop-xlarge') {
			padding: rem-calc(123) rem-calc(224) rem-calc(135) rem-calc(335);
		}
	}

	&-decoration {
		@extend %text-decoration--left;

		z-index: 2;

		@include media('>phone') {
			top: 28%;
		}

		&__label {
			@extend %text-decoration__label--light;

			&-inner {
				@extend %text-decoration__label-inner--light;
			}
		}

		&__number {
			@extend %text-decoration__number--light;
		}
	}

	&-header {
		position: relative;
		z-index: 3;
		margin-bottom: rem-calc(51);

		@include media('>phone') {
			margin-bottom: rem-calc(10);
		}

		@include media('>tablet') {
			margin-bottom: rem-calc(15);
		}

		@include media('>desktop-medium') {
			margin-bottom: rem-calc(18);
		}

		&__subtitle {
			@extend %header__subtitle--dark;

			margin-bottom: rem-calc(15);
		}

		&__title {
			@extend %header__title--dark;
		}
	}

	&-content {
		margin-bottom: rem-calc(76);

		@include media('>phone') {
			width: 40%;
			margin-bottom: 0;
		}

		@include media('>desktop-small') {
			width: 35%;
		}

		@include media('>desktop-medium') {
			width: 30%;
		}

		@include media('>desktop-large') {
			width: 25%;
		}

		&__featured {
			@extend %content__featured--dark;

			position: relative;
			z-index: 4;
			margin-bottom: rem-calc(11);
		}

		&__text {
			position: relative;
			z-index: 4;

			@include media('>phone') {
				margin-bottom: rem-calc(20);
			}

			@include media('>desktop-small') {
				margin-bottom: rem-calc(30);
			}

			@include media('>desktop-large') {
				margin-bottom: rem-calc(40);
			}
		}

		&__button {
			@extend %site-button;

			position: absolute;
			bottom: rem-calc(68);
			left: 50%;
			z-index: 4;
			transform: translateX(-50%);
			width: rem-calc(270);
			max-width: 95%;

			@include media('>phone') {
				position: relative;
				bottom: 0;
				left: 0;
				transform: none;
				width: auto;
				max-width: 100%;
			}
		}
	}

	&-listings {
		position: relative;
		z-index: 4;

		@include media('>phone') {
			width: 57%;
		}

		@include media('>desktop-small') {
			width: 60%;
		}

		@include media('>desktop-medium') {
			width: 61%;
		}

		@include media('>desktop-large') {
			width: 63%;
		}

		&-header {
			display: none;

			@include media('>phone') {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: flex-start;
				padding-right: rem-calc(16);
				padding-left: rem-calc(10);
				padding-bottom: rem-calc(15);
			}

			@include media('>desktop-small') {
				padding-left: rem-calc(20);
				padding-right: rem-calc(19);
				padding-bottom: rem-calc(16);
			}

			@include media('>desktop-medium') {
				padding-left: rem-calc(30);
				padding-right: rem-calc(22);
				padding-bottom: rem-calc(18);
			}

			@include media('>desktop-large') {
				padding-left: rem-calc(40);
				padding-right: rem-calc(26);
				padding-bottom: rem-calc(22);
			}

			&__title {
				font-size: rem-calc(10);
				font-family: $font-forza;
				font-weight: 700;
				letter-spacing: 0.13px;
				color: $color-pumpkin;
				text-transform: uppercase;

				&:nth-child(1) {
					@include media('>phone') {
						width: 37%;
					}
				}

				&:nth-child(2),
				&:nth-child(3) {
					text-align: center;

					@include media('>phone') {
						width: 25%
					}
				}
			}
		}
	}

	&-list {
		position: relative;
		margin-bottom: 0;


		&__item {
			@extend %link-list__item;
		}

		&__link {
			@extend %link-list__link--arrow-btn;

			position: relative;
			flex-wrap: wrap;

			@include media('>phone') {
				justify-content: flex-start;
				padding-top: rem-calc(20);
				padding-bottom: rem-calc(20);
			}

			@include media('>desktop-small') {
				padding-top: rem-calc(30);
				padding-bottom: rem-calc(30);
			}

			@include media('>desktop-large') {
				padding-top: rem-calc(40);
				padding-bottom: rem-calc(40);
			}
		}

		&__position,
		&__location,
		&__duration {
			&::before {
				margin-bottom: 7px;
			}
		}

		&__position {
			@extend %link-list__title--main;

			width: 100%;
			margin-bottom: rem-calc(18);

			@include media('>phone') {
				width: 37%;
				margin-bottom: 0;
			}

			&::before {
				content: 'Position';
			}
		}

		&__location,
		&__duration {
			@extend %link-list__title--secondary;

			width: 50%;

			@include media('>phone') {
				width: 25%
			}
		}

		&__location {
			&::before {
				content: 'Location';
			}
		}

		&__duration {
			&::before {
				content: 'Duration';
			}
		}
	}
}
